@import url(https://fonts.googleapis.com/css?family=Lobster+Two);
@import url(https://fonts.googleapis.com/css?family=Montserrat);

body {
	text-align: center;
	background: url(../images/heroimagedog2.jpg);
	background-size: cover;
	color: #FA8072;
	font-family: 'Montserrat', serif;
	font-size: 150%
}

#nav {
	text-indent: 900px;
	padding-top: 25px;
	
}

h1 {

	text-align: center;
	font-family: 'Lobster Two', italic;
	font-size: 300%;

}

hr {
	width: 200px;
	color: gray;
}

p {
	margin-top: 50px;
	margin-bottom: 25px;
	margin-left: 200px;
	margin-right: 200px;

}

ul {
    text-align: center;
    list-style-type: none;
}


}

li {

}

#slogan {
	font-style: italic; 
	font-weight: bold;

}

.button-wrapper {
  display: block;
  text-align: center;
}

.button {
  border: none;
  border-radius: 2em;
  box-shadow: 2px 2px 2px rgba(0,0,0,0);
  display: inline-block;
  color: #000000;
  background: #829595;
  font-size: 1em;
  padding: 1em 2em;
  width: auto;
}

#footer {
	padding-top: 200px;
}
